@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin-top: 50px;
  width: 100%;
}

header {
  position: relative;
}

body {
  margin: 0;
}

.firstsection {
  display: block;
}

.hed {
  background: #212121;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.burger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 55px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 30px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.subheader_text {
  margin-top: 0px;
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 200;
  text-align: left;
}
.subheader_collus {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}
.subheader_number {
  display: block;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-top: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#207080), to(#3aacc3));
  background: linear-gradient(0deg, #207080 0%, #3aacc3 100%);
  border: none;
  width: 100%;
  height: 46px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 5px -10px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px -10px 5px 0px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.subheader_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#134752), to(#2a8091));
  background: linear-gradient(0deg, #134752 0%, #2a8091 100%);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  border-radius: 4px 4px 4px 4px;
}
.subheader_btn:hover::before {
  opacity: 1;
}
.subheader_btn_spn {
  color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
}

.smollvisible {
  display: none;
}

.invitation {
  width: 100%;
  min-height: 800px;
  background: url("../img/bg/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.invitation_promo {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 60px;
  margin: 0;
}
.invitation_promo2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  margin: 0;
}
.invitation_text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.invitation_button {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  margin: 118px auto 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#207080), to(#3aacc3));
  background: linear-gradient(0deg, #207080 0%, #3aacc3 100%);
  border: none;
  width: 259px;
  height: 63px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 12 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 12 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.invitation_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#134752), to(#2a8091));
  background: linear-gradient(0deg, #134752 0%, #2a8091 100%);
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
  border-radius: 4px 4px 4px 4px;
}
.invitation_button:hover::before {
  opacity: 1;
}
.invitation_button_spn {
  color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
}

.propous {
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
}

.second {
  min-height: 990px;
  background: #ffffff;
  padding: 50px 0 50px 0;
}

.unit {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.unit_round {
  width: 115px;
  height: 115px;
  background: rgb(30, 172, 199);
  margin: 0 auto;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.unit_icon {
  width: 70%;
}
.unit_info {
  width: 70%;
}
.unit_title {
  color: rgb(30, 172, 199);
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.unit_text {
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

.title {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin-bottom: 19px;
  padding-top: 92px;
  overflow: hidden;
}
.mobile_item_1 {
  background: url("../img/3/Карточка 1.png") center center/cover no-repeat;
}
.mobile_item_1:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_1:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_1:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_2 {
  background: url("../img/3/Карточка 2.png") center center/cover no-repeat;
}
.mobile_item_2:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_2:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_2:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_3 {
  background: url("../img/3/Карточка 3.png") center center/cover no-repeat;
}
.mobile_item_3:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_3:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_3:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_4 {
  background: url("../img/3/Карточка 4.png") center center/cover no-repeat;
}
.mobile_item_4:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_4:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_4:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_4:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_5 {
  background: url("../img/3/Карточка 5.png") center center/cover no-repeat;
}
.mobile_item_5:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_5:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_5:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_5:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_6 {
  background: url("../img/3/Карточка 6.png") center center/cover no-repeat;
}
.mobile_item_6:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile_item_6:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile_item_6:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile_item_6:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile_item_subtitle {
  position: relative;
  line-height: 31px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 35px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #00AAFF;
}
.mobile_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #00AAFF;
}

.auto {
  min-height: 900px;
  background: url("../img/4/Выбор - отличная штука!.png") center center/cover no-repeat;
  padding: 48px 0 79px 0;
  position: relative;
}
.auto_butomtitle {
  color: #222222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 500px;
}
.auto_label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #fff;
  color: #000;
}
.auto_title {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.auto_subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.mobile1 {
  min-height: 870px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
  padding: 30px 0;
}
.mobile1 .row {
  margin-top: 40px;
}
.mobile1_card {
  width: 320px;
  height: 280px;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}
.mobile1_card_1 {
  background: url("../img/3/Карточка 1.png") center center/cover no-repeat;
}
.mobile1_card_1:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile1_card_1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile1_card_1:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile1_card_1:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile1_card_2 {
  background: url("../img/3/Карточка 2.png") center center/cover no-repeat;
}
.mobile1_card_2:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile1_card_2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile1_card_2:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile1_card_2:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile1_card_3 {
  background: url("../img/3/Карточка 3.png") center center/cover no-repeat;
}
.mobile1_card_3:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile1_card_3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile1_card_3:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile1_card_3:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile1_card_4 {
  background: url("../img/3/Карточка 4.png") center center/cover no-repeat;
}
.mobile1_card_4:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile1_card_4:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile1_card_4:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile1_card_4:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile1_card_5 {
  background: url("../img/3/Карточка 5.png") center center/cover no-repeat;
}
.mobile1_card_6 {
  background: url("../img/3/Карточка 6.png") center center/cover no-repeat;
}
.mobile1_card_6:before {
  content: "";
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile1_card_6:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #AA00FF;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.7;
  -webkit-transform: skew(30deg) translateX(-130%);
          transform: skew(30deg) translateX(-130%);
}
.mobile1_card_6:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile1_card_6:hover:after {
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}
.mobile1_card_subtitle {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  text-align: right;
  right: 10px;
  top: 10px;
  text-transform: uppercase;
}
.mobile1_card_plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #F7FF00;
  border-radius: 50%;
  z-index: 1;
}
.mobile1_card_plus::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #00AAFF;
}
.mobile1_card_plus::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #00AAFF;
}
.mobile1_anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #00AAFF;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  bottom: 40px;
  right: 40px;
  position: fixed;
  z-index: 10;
}
.mobile1_img {
  width: 70%;
}

.label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #000000;
  color: #ffffff;
}

.title {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.requier {
  padding: 64px 0 84px 0;
}
.requier_label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.requier_title {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}
.requier_block {
  margin-top: 33px;
}
.requier_hed {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(30, 172, 199);
}
.requier_list {
  list-style-type: none;
  padding-left: 30px;
  margin-top: 22px;
}
.requier_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}
.requier_list li::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  left: -32px;
  background: url(../img/icons/Rectangle.png) center center/cover no-repeat;
}
.requier_descr {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: rgb(30, 172, 199);
}
.requier .red .requier_hed {
  color: #FF5656;
}
.requier .red .requier_list li::before {
  background: url(../img/icons/redicons.png) center center/cover no-repeat;
}

.world {
  width: 100%;
  min-height: 716px;
  padding: 30px 0 30px 0;
  background: url(../img/bg/world_bg.png) center center/cover no-repeat;
}
.world_label {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 5px 12px;
  text-transform: uppercase;
  background: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  color: #000;
  background-color: #fff;
}
.world_title {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.world_subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.world_butom {
  margin: 0 auto;
  color: #222222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 500px;
}
.world_butom_text {
  text-transform: uppercase;
  color: rgb(30, 172, 199);
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: relative;
}
.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  padding: 3%;
}

.round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}

.border {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 5px;
  background-color: rgb(30, 172, 199);
}

.infohed {
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.infohed_item {
  text-decoration: none;
  color: #000;
}

.subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.subinfo_item {
  text-decoration: none;
  color: #999999;
}

.socyal_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 20px;
  width: 30%;
}

.store {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 30%;
}

.language {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: rgb(30, 172, 199);
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 14px;
  }
  .menu_item {
    padding-right: 16px;
  }
  .invitation_promo {
    font-size: 55px;
  }
  .invitation_promo2 {
    font-size: 35px;
  }
  .invitation_text {
    font-size: 16px;
  }
  .mobile_item {
    width: 280px;
    height: 250px;
  }
  .mobile1_card {
    width: 280px;
    height: 250px;
  }
  .mobile1_anim {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_collus {
    font-size: 10px;
  }
  .subheader_number {
    font-size: 19px;
  }
  .subheader_btn {
    margin-top: 12px;
    width: 80%;
    height: 30px;
    font-size: 11px;
  }
  .subheader_text {
    font-size: 11px;
  }
  .invitation_promo {
    font-size: 34px;
  }
  .invitation_promo2 {
    font-size: 23px;
  }
  .invitation_text {
    font-size: 13px;
  }
  .mobile_item {
    width: 222px;
    height: 212px;
  }
  .mobile1_card {
    width: 222px;
    height: 212px;
  }
  .mobile1_anim {
    width: 45px;
    height: 45px;
  }
  .requier_list {
    padding-right: 10px;
  }
  .store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .unit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .unit_info {
    width: 90%;
    margin-top: 20px;
  }
  .unit_round {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .infohed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infohed_item {
    padding-right: 10px;
    line-height: 24px;
  }
  .subinfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subinfo_item {
    padding-right: 15px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 20px;
  }
  .burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-top: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
    margin: -1px;
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    margin: 0px;
  }
  .smollnone {
    display: none;
  }
  .hed {
    height: 32px;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.6705882353);
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin: 10px 0;
    border: none;
  }
  .menu_link {
    padding: 10px 0;
    display: block;
    font-size: 18px;
  }
  .subheader {
    margin-top: 32px;
  }
  .subheader_logo {
    margin-top: 20px;
  }
  .subheader_text {
    display: none;
  }
  .subheader_collus {
    font-size: 10px;
  }
  .subheader_number {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    margin-top: 13px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .subheader_btn_spn {
    font-size: 14px;
  }
  .mobile_item {
    width: 222px;
    height: 212px;
  }
  .mobile1_card {
    width: 250px;
    height: 220px;
  }
  .invitation_promo {
    font-size: 30px;
    line-height: 36px;
  }
  .invitation_promo2 {
    font-size: 23px;
  }
  .invitation_text {
    font-size: 13px;
  }
  .smollvisible {
    display: block;
  }
  .infohed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .infohed_item {
    line-height: 24px;
  }
  .subinfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subinfo_item {
    line-height: 24px;
  }
}
@media (max-width: 543px) {
  .menu {
    width: 80%;
  }
  .subheader {
    height: 62px;
  }
  .subheader_number {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    margin-top: 7px;
  }
  .subheader_btn_spn {
    font-size: 10px;
  }
  .invitation {
    min-height: 400px;
  }
  .invitation_promo {
    font-size: 30px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: center;
  }
  .invitation_promo2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 35.16px;
    text-align: center;
  }
  .invitation_text {
    display: none;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
  .mobile_item {
    width: 100%;
    height: 254px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
  .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: none;
  }
  .auto {
    background: url("../img/bg/auto_mobile_bg.png") center center/cover no-repeat;
    min-height: 390px;
  }
  .auto_title {
    display: none;
  }
  .auto_subtitle {
    display: none;
  }
  .auto_butomtitle {
    color: #ffffff;
    font-size: 23px;
    font-weight: 300;
    line-height: 33px;
  }
  .mobile1_card {
    width: 100%;
    height: 250px;
  }
  .requier_label {
    width: 115px;
    height: 26px;
    font-size: 11px;
    padding: 5px 5px;
  }
  .requier_title {
    font-size: 16px;
  }
  .requier_hed {
    font-size: 16px;
  }
  .requier_list li {
    font-size: 14px;
  }
  .world_title {
    font-size: 34px;
  }
  .world_subtitle {
    font-size: 15px;
  }
  .world_butom {
    font-size: 15px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .border {
    width: 85%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer_nav {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .socyal_icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .store {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
  }
  .subinfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subinfo_item {
    padding-right: 20px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */
